@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300&family=Nunito&family=Zen+Antique&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito',sans-serif;
}

html{
    font-size: 62.5%; /*pentru a face ca un rem sa fie 10px in loc de 16px*/
}

.header{
    width: 100%;
    height:100vh;
    position: relative;
    perspective: 100rem;  /*adaugata la final pentru a avea o perspectiva 3D pentru user*/
    overflow: hidden;
}
.image-wrapper{
    width: 100%;
    height:100vh;
    overflow: hidden;  /*aici am pus hidden pentru annu mai avea barele de scroll cand se facea animatia (fara el nu mergea)*/
    background-color: rgba(0,0,0,0.8); /*0.8 este opacitatea*/
}
.image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;  /*pentru a face ca imaginea sa incapa perfect in ecran */
    opacity:0.5;
    animation:transformareBack 20s; /*numele si durata animatiei  -merge pe orice element-*/
}

/*aici am facut o animatie care la 0% sa aiba dimenisunea 1.3 din original, iar la 100% sa aiba dinmenisunea intreaga*/
@keyframes transformareBack {
    0%{
        transform:scale(1.3);   /*scale este functia care transforma efectiv imaginea*/
    }
    100%{
        transform:scale(1);
    }
}

.banner{
    position: absolute;
    top:30%;
    left:15%;
}

.banner h1{
    font-family:'Nunito', serif;
    font-size: 8rem;
    font-weight: 400;
    color: whitesmoke;
    width:53%;
    line-height: 8rem;
    letter-spacing: 0.2rem;
    text-shadow: 0.4rem 0.5rem 0.6rem black ;  /*ultima proprietate este pentru opacitate*/
    opacity: 0;/*am adaugat dupa ce am pus keyframes pentrua  face o animatie */
    animation: moveBanner 1s 0.5s forwards;  /*in ordine: numele, durata si deelay-ul animatiei, pentru a ramane vizibila si a nu disparea dupa ce este gata animatia */
    
}

.banner p{
    font-family: 'Josefin Slab', serif;
    color:white;
    font-size: 3.2rem;
    width:70%;
    letter-spacing: 0.15rem;
    margin-bottom:5rem;
    margin-top: 1rem;
    text-shadow: 0.1rem 0.1rem 0.5rem darkslategrey;
    font-weight: 500;
    opacity: 0;/*am adaugat dupa ce am pus keyframes pentrua  face o animatie */
    animation: moveBanner 1s 0.7s forwards;  /*in ordine: numele, durata si deelay-ul animatiei*/
}

.banner button{
    width:25rem;
    height:5rem;
    background-color: #c29525;
    border: none;
    font-family: 'Nunito';
    font-size:2rem;
    text-transform: uppercase;
    color:white;
    text-shadow:0 0.2rem 0.4rem rgba(0,0,0,0.5);
    box-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);  /*pentru a face efectul de umbra pe langa buton*/
    cursor: pointer;
    transition: all 1s ease;
    opacity: 0;  /*am adaugat dupa ce am pus keyframes pentrua  face o animatie */
    animation: moveBanner 1s 0.9s forwards;  /*in ordine: numele, durata si deelay-ul animatiei*/
}

@keyframes moveBanner {
    0%{
        transform: translateY(35rem) rotateY(-20deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.banner button:hover{
    transform: scale(1.05);
    border-radius: 1rem;
}

/*aici incepe partae de hamburger menu ------------------------------------------------------------*/


.hamburger-menu{
    width:3rem;
    height:3rem;
    /* background-color:red; */
    position: fixed;
    top: 5rem;
    right:5rem;
    z-index:200;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    cursor: pointer;
}
.line{
    width: 100%;
    height:0.2rem;
    background-color:white;
    box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.3);
    
}

/*de aici incepe partea de meniu efectiv - sidebar dupa cum l-am numit*/

.sidebar{
    width:40rem;
    height:100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;

}

.menu{
    position:absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%,-50%);  /*aici am folosit tranform pentru a alinia exact la mijloc jus-jos st-dr elementele din meniu*/
}

.menu-item  {
    text-align: center;

}

.menu-link{
    font-family:    'Nunito', sans-serif ;
    font-size: 4rem;
    color:#555;
    transition: color 0.6s;
}

.menu-link:hover{
    transform: scale(1.05);
    color: #c29525;
    text-shadow: 0.3rem 0 0.3rem  orange;
}

.social-media{
    display:flex;
    justify-content:center;
    position: absolute;
    width:100%;
    bottom:3rem;
}
.social-media i{
    font-size:2.2rem;
    margin:3rem;
    width:4.5rem;
    height:4.5rem;
    background-color:#777;
    color:#fff;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.5s;
}
.social-media i:hover{
    background-color:#c29525;
    box-shadow: 0.3rem 0.2rem 0.9rem  orange;
}